html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background-color: #f8f9fa; /* Màu nền */
    font-family: 'Arial', sans-serif; /* Font chữ */
}

h1 {
    color: #007bff; /* Màu tiêu đề */
}

form {
    background-color: #ffffff; /* Màu nền của form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff; /* Màu nút */
    color: white;
}
