@model Online_Post_Office_Management_System.Models.ChargeOnDistance

@{
    ViewData["Title"] = "Delete Charge";
}

<h1>Delete Charge</h1>

<h3>Are you sure you want to delete this charge?</h3>
<div>
    <h4>Distance: @Model.Distance</h4>
    <h4>Weight: @Model.Weight</h4>
    <h4>Charge: @Model.Amount</h4>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="ManageCharges" class="btn btn-secondary">Cancel</a>
</form>
